.menu {
  font-family: "Urbanist";
  letter-spacing: 10px;
  position: relative;

  &__button {
    width: 80px;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }

  &__background {
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgb(35, 35, 35);
    top: 0;
    // left: 0;
    right: -400px;
    // height: 0;
    height: 100vh;

    bottom: initial;
    transition: all 1s;
    &--visible {
      // height: 100vh;
      right: 0;
      transition: all 1s;
    }
  }
  &__loading {
    position: fixed;
    // position: absolute;
    // top: 0;
    top: calc(50% - 44px);
    left: calc(50% - 40px);
    width: 80px;
    height: 88px;
    background-color: #2a2a2a;
  }

  &__nav-list {
    font-size: 2rem;
    list-style: none;
    pointer-events: none;
    &--visible {
      pointer-events: initial;
      @for $i from 1 through 10 {
        li:nth-child(#{$i}) {
          opacity: 1;
          transition: opacity 1s 0.15s * $i;
        }
      }
    }
  }
  & li {
    opacity: 0;
    transition: opacity 0.3s;
    margin-bottom: 50px;
    & a {
      font-weight: 500;
    }
    &::after {
      content: "";
      display: block;
      background-color: #fff;
      position: absolute;
      height: 1px;
      right: 0;
      left: 50%;
    }
    &:hover {
      &::after {
        background-color: #678d7c;
      }
    }
  }
}
