.social-bar {
  position: fixed;
  z-index: 8;
  bottom: 0;
  right: 20px;
  display: flex;
  flex-direction: column;
  a {
    margin-bottom: 30px;
    margin-left: 20px;
  }
  &__bar {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 1px;
    background-color: #fff;
  }
}
