.available {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  letter-spacing: 1px;
  gap: 10px;
  &__lights {
    position: relative;
    width: 8px;
    height: 8px;
    &--light {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #7bc1a2;
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }
}
